.alert{
    padding:0px;
    border:none;
}
.alert .content-error {
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
}

.form-register .form-group input{
    margin-bottom:1rem;
} 

.form-register .form-group .alert.content-error{
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
}